<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctorlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#eaf7f8">


    {{>publicnav}}
    <center>
        <h3>{{msg}}</h3>
    </center>
    {{#each doctors}}


    <div class="card" style="height:500px;width: 250px;display:inline-block;margin:20px;padding:10px;">
        <img style="height:200px;width: 250px;" class="card-img-top" src="../images/doctor/{{this.id}}.jpg" alt="Card image cap">
        <div class="card-body">


        </div>
        <ul class="list-group list-group-flush" style="width:250px;">
            <li class="list-group-item">
                <h5 class="card-title">Name:{{this.name}}</h5>
            </li>
            <li class="list-group-item">Dept:{{this.department}}</li>
            <li class="list-group-item">Degn:{{this.designation}}</li>
            <li class="list-group-item">Email:{{this.email}}</li>
        </ul>

    </div>



    {{/each}}

    </div>


</body>

</html>