<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctorlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body style="background-color:#e8f2f3">

    
       {{>usernav}}
   
        {{#each doctors}}

               
            <div class="card" style="height:500px;width: 250px;display:inline-block;margin:20px;padding:10px;">
            <img style="height:200px;width: 250px;"  class="card-img-top" src="../images/doctor/{{this.id}}.jpg" alt="Card image cap">
            <ul class="list-group list-group-flush" style="width:250px;">
                <li class="list-group-item"><h5 class="card-title">{{this.name}}</h5></li>
                <li class="list-group-item">{{this.department}}</li>
                <li class="list-group-item">{{this.des}}</li>
                <li class="list-group-item">{{this.email}}</li>
                <li class="list-group-item">{{this.phone}}</li>
                <li class="list-group-item">{{this.address}}</li>
            </ul>
            
        </div>

        

        {{/each}}

    </div>


</body>

</html>